* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

html,
#root,
#outer-container {
  height: 100%;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
}

#page-wrap {
  background-color: #B7E0FF;
  height: 100%;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
  margin-block-start: 50px;
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #303841;
}

a:hover {
  color: #FF7D29;
}

code {
  background-color: #032D3C;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
}

.gh-link {
  position: relative;
}

.gh-link .point-gh-wrapper {
  font-size: 20px;
  position: absolute;
  top: -10px;
  left: 50%;
  bottom: unset;
  right: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  animation: pulse 2s ease-in-out infinite alternate;
}

.gh-link .point-gh-wrapper .point-arrow {
  width: 1.5em;
  height: 1.5em;
  order: 1;
  transform: rotate(260deg) scaleX(-1);
}

.gh-link .point-gh-wrapper p {
  font-size: .6em;
  width: 50%;
  text-align: center;
}

button {
  color: #303841;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

button.active {
  background-color: #FF7D29;
  color: white;
}

.menu-pos {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 5px;
}

.menu-pos button {
  padding: 10px 20px;
}

.menu-btn-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.menu-btn-grid button {
  padding: 30px;
  border-radius: 5px;
}

footer {
  color: #303841;
}

@keyframes pulse {
  from {
    transform: rotate(15deg) scale(1);
  }

  to {
    transform: rotate(15deg) scale(1.1);
  }
}

@media screen and (min-width: 425px) {
  .menu-btn-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .gh-link .point-gh-wrapper {
    bottom: -60px;
    right: -100px;
    top: unset;
    left: unset;
  }

  .gh-link .point-gh-wrapper .point-arrow {
    order: 0;
    transform: rotate(360deg) scaleX(-1);
  }

  .menu-btn-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}